@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #171717;
  color: white;
}

@layer utilities {
  .clip-circle-0 {
    clip-path: circle(0% at top right);
  }

  .clip-circle-full {
    clip-path: circle(150% at top right);
  }
}
